body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
}

.card {
    width: 350px;
    background: white;
    margin: 40px auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.profile-pic {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.name {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.desc {
    color: gray;
    font-size: 18px;
    padding-top: 10px;
}

.login {
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.social {
    padding: 20px 0;
}

.social img {
    width: 22px;
    margin: 0 5px;
}

.btn {
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    padding: 18px 0;
    font-size: 18px;
}
